#admin-main div.admin-block {
    padding: 1rem;
}

/* Elements */
#search input {
    margin: 0.5rem 0rem;
}

#search p {
    padding: 0.5rem;
    border-radius: 4px;
}

#search .grav-loader {
    margin: 2rem;
    display: none;
}

.results {
    margin: 1rem;
}

#search .results {
    display: none;
}

.button.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

#results #status {
    text-decoration: underline;
}

#stats .stat {
    text-decoration: underline;
}

#stats p {
    margin: 0;
}

#last-25 .grav-loader, #stats .grav-loader {
    margin: 2rem;
}

#last-25 .results {
    -webkit-columns: 5 100px;
    -moz-columns: 5 100px;
    columns: 5 100px;
}

#last-25 .results .ip {
    margin: 0;
    word-break: break-all;
}