{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-ban"></i> IP Blacklist</h1>
{% endblock %}

{% block stylesheets %}
    {% do assets.addCss('plugins://ip-blacklist/admin/resources/style.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('plugins://ip-blacklist/admin/resources/script.js') %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <p id="filter-list" class="notices yellow">
        <strong>New filters available</strong>: <span class="grav-loader results"></span><span id="version"></span></br>
        An update has been released to the default filters that are used to detect whether an incoming request is malicious or not. To keep on top of emerging exploits you should update your filters.</br>
        &nbsp;&bull; <a id="update" href="javascript:;" onclick="processInput(this.id);">Install the update</a> to overwrite the installed filters with the updated default filters list, or</br>
        &nbsp;&bull; <a href="https://github.com/aricooperdavis/grav-plugin-ip-blacklist/blob/main/ip-blacklist.yaml" target="_blank">View the updated default filters</a> and update your filter list manually, or</br>
        &nbsp;&bull; <a id="hide" href="javascript:;" onclick="processInput(this.id);">Hide this message</a> until a new update is available.
    </p>

    <div id="search">
        <h5>Search</h5>
        <label for="search-box">Enter an IP Address (e.g. 127.0.0.1):</label>
        <input type="text" id="search-box" name="search-box" />
        <a id="search" class="button">Search</a>
        <div class="grav-loader">Loading…</div>
        <div class="results">
            <p class="notices green"><span id="ip">IP address</span> <strong id="status">not found in</strong> local blacklist.</p>
            <a id="add" class="button">Add to Blacklist</a>
            <a id="remove" class="button">Remove from Blacklist</a>
        </div>
        <hr />
    </div>

    <div id="stats">
        <h5>Stats</h5>
        <label>Local blacklist summary statistics:</label>
        <div class="grav-loader">Loading…</div>
        <div class="results">
            {# Populated client-side following AJAX #}
        </div>
        <a id="stats" class="button">Refresh</a>
        <hr />
    </div>

    <div id="last-25">
        <h5>Recent additions</h5>
        <label>List of the 25 IP addresses most-recently added to the local blacklist:</label>
        <div class="grav-loader">Loading…</div>
        <div class="results">
            {# Populated client-side following AJAX #}
        </div>
        <a id="last-25" class="button">Refresh</a>
        <hr />
    </div>

    <div id="link-to-plugin">
        <h5>Plugin configuration</h5>
        <label>To make changes to the plugin configuration, including editing your filters, head to the <a href="plugins/ip-blacklist">plugin configuration</a>.</label>
    </div>
{% endblock %}